.btn {
  border: 0;
  background-color: #424242;
  color: #fff;
  font-family: 'teko-regular', sans-serif;
  font-size: 1.2rem;
  min-width: 2.4rem;
  outline: 0;
  padding: .4rem;
  text-align: center;
  text-transform: uppercase;

  &.active {
    background-color: #f5be3f;
  }
}

.btn-addtocamp {
  width: 100%;
  border-radius: .4rem;
  padding: .4rem 0;
  margin-top: .4rem;
  font-size: 1.2rem;
  color: #424242;
  background: #d4d4d4;
  background-image: linear-gradient(to bottom, #d4d4d4, #887f76);
}

.btn-group {
  display: inline-flex;

  .btn-toggle {
    min-width: 2rem;

    &:first-child {
      .btn {
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
      }
    }

    &:last-child {
      .btn {
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
      }
    }

    .btn {
      display: block;
    }

    input[type=checkbox], input[type=radio] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;

      &:checked {
        ~ label {
          background-color: #f5be3f;
        }
      }
    }
  }
}
