@font-face {
  font-family: 'big-noodle-titling';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/big-noodle-titling.woff2') format('woff2'),
    url('../fonts/big-noodle-titling.woff') format('woff');
}

@font-face {
  font-family: 'komika-display';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/komika-display.woff2') format('woff2'),
    url('../fonts/komika-display.woff') format('woff');
}

.f-komika-display {
  font-family: komika-display; // stylelint-disable-line
}

.f-big-noodle-titling {
  font-family: big-noodle-titling; // stylelint-disable-line
}

.f-safe {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
}
