@import "mixins";

.team {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @include clearfix();

  > li {
    background-color: #292929;
    border: 1px solid #000;
    border-radius: 0.4rem;
    flex: 1 1 auto;
    height: 100%;
    margin: 1px;
    padding: 0.2rem;
    position: relative;
    transition: background-color 0.2s;
    /* stylelint-disable */
    .a { left: 0.2rem; position: absolute; top: 0.2rem; z-index: 1; }
    .b { font-size: 1rem; left: 2.4rem; position: absolute; top: 0.3rem; width: 6rem; }
    .c { left: 9.2rem; position: absolute; top: 0.2rem; width: 4.5rem; }
    .d { left: 13.4rem; position: absolute; text-align: center; top: 0.2rem; width: 4.2rem; }
    .e { bottom: 0.2rem; left: 0.4rem; position: absolute; }
    .f { bottom: 0.26rem; left: 9.2rem; position: absolute; }
    .g { position: absolute; right: 2.4rem; text-align: center; top: 0.2rem; width: 2.4rem; }
    .h { position: absolute; right: 0.2rem; text-align: center; top: 0.2rem; width: 2rem; }
    /* stylelint-enable */

    .lbl {
      color: #eee1b0;
      font-size: 1rem;
    }
  }
}

.switch-trait {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.select-trait {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2rem;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0.2rem;

  &.show {
    display: block !important;
  }

  li {
    display: inline-block;
  }
}

.grid-trait {
  border-radius: 0.2rem;
  display: grid;
  text-align: center;
  width: 100%;

  .btn {
    width: 100%;
  }
}

.ap-gain-des {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
  display: none;
  font-size: 0.7rem;
  padding: 0.2rem;
  vertical-align: middle;

  &.show {
    display: inline-block;
  }
}

.ap-ft {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  padding: 0.4rem 0;
  width: 2rem;
}
