@import "variables";
@import "mixins";
@import "fonts";
@import "icons";
@import "type";
@import "forms";
@import "buttons";
@import "modal";
@import "tabs";
@import "utilities";

// Reboot
*,
*::before,
*::after { box-sizing: border-box; }

html,
body { height: 100%; }

html {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'big-noodle-titling'; // stylelint-disable-line
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  max-height: 667px;
  padding: 0;
  text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

a { text-decoration: none; }

hr {
  border-bottom: 1px solid #292929;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #111;
  margin: 0.2rem 0;
}

.sm { font-size: 72%; }

.clr-amber { color: $amber; }
.clr-lightyellow { color: $light-yellow; }
.clr-purple { color: $purple; }
.clr-success { color: $success; }

.bg-fast { background-color: $bg-fast !important; }
.bg-strong { background-color: $bg-strong !important; }
.bg-alert { background-color: $bg-alert !important; }
.bg-tough { background-color: $bg-tough !important; }

.txt-max {
  color: #b71c1c;
  font-family: 'komika-display'; // stylelint-disable-line
  font-size: 1rem;
  text-transform: uppercase;
}

.disabled {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

.hide {
  display: none !important;
}

.close {
  background: #d4d4d4;
  background-image: $btn-gradient;
  border: solid #1d1d1d 1px;
  border-radius: 0.4rem;
  color: #424242;
  cursor: pointer;
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;
  height: 1.6rem;
  line-height: 1;
  position: absolute;
  right: 1px;
  text-align: center;
  text-shadow: none;
  top: 1px;
  width: 2.4rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 375px;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 2.6rem;
}

.container {
  margin: 0 auto;
  max-width: 375px;
}

.row {
  align-items: center;
  display: flex;
  padding: 0.1rem 0;

  > div {
    padding: 0.2rem;
  }
}

.col {
  display: flex;

  > div {
    padding: 0.2rem;
  }
}

.navbar {
  background-color: #000;
  position: fixed;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;

  .nav-link {
    color: $white;
    display: inline-block;
    padding: 0.5rem;

    .icon {
      margin-right: 0.5rem;
    }

    &.active {
      color: $amber;
    }
  }
}
