// Color
$amber-500: #f5be3f;
$green-500: #89c843;

// Mixin
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Reset
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 40px 0 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  background-color: #212121;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button:focus {
  outline: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #616161;
  width: 90%;
}

table {
  width: 100%;

  th, td {
    padding: 4px 8px;
    vertical-align: top;
  }

  th {
    color: #ede1b1;
  }
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h3 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #ede1b1;
}

.sm {
  font-size: 0.75em;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}

.github-ribbin {
  position: absolute;
  top: 0;
  right: 0;
}

.github-link {
  position: absolute;
  right: 12px;
  top: 12px;
  font-family: 'Arial', 'sans-serif';
  font-size: 11px;
  color: #fff;
  text-transform: none;
  text-decoration: none;
}

.github-icon {
  background-image: url('../img/github-mark-light-32px.png');
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: cover;
  margin-right: 8px;
  vertical-align: middle;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.clr-amber {
  color: $amber-500;
}

.clr-success {
  color: $green-500;
}

.label {
  font-size: 0.5em;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
  vertical-align: middle;
}

.label-danger {
  background-color: #d50000;
}

// Icon
.fa-star {
  font-size: 14px;
  margin: 0 2px;
}

.fa-chevron-right {
  font-size: 18px;
}

.navbar {
  height: 40px;
  background-color: #000;
  width: 100%;
  min-width: 1024px;
  position: absolute;
  top: 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  @include clearfix();

  > li {
    display: block;
    float: left;

    > a {
      color: #fff;
      text-decoration: none;
      padding: 7px 16px;
      display: block;
      line-height: 1;
    }
    &.active a {
      background-color: #006064;
    }
  }
}

.container {
  width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.top {
  @include clearfix();

  text-align: center;
  margin-bottom: 20px;
}

.left-side, .right-side {
  float: left;
}

// Radio group
.radio-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  li {
    color: #757575;
    display: block;
    position: relative;
  }

  &.inline {
    li {
      float: left;
    }
  }

  input[type=radio] {
    position: absolute;
    visibility: hidden;

    &:checked {
      ~ .check {
        border: 3px solid #fafafa;

        &::before {
          background: #fafafa;
        }
      }

      ~ label {
        color: #fafafa;
      }
    }
  }

  label {
    display: block;
    position: relative;
    padding: 0 12px 0 28px;
    z-index: 9;
    cursor: pointer;
    user-select: none;
  }

  .check {
    display: block;
    position: absolute;
    border: 3px solid #aaa;
    border-radius: 100%;
    height: 21px;
    width: 21px;
    top: 4px;
    left: 0;
    z-index: 5;

    &:before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 9px;
      width: 9px;
      top: 3px;
      left: 3px;
      margin: auto;
    }
  }
}

// Checkbox
.checkbox {
  position: relative;
  display: inline-block;

  label {
    display: inline-block;
    margin-bottom: 4px;
    cursor: pointer;
  }

  input[type=checkbox] {
    visibility: hidden;
    display: none;

    &:checked {
      + ins {
        background-color: #fafafa;
        border: 3px solid #fafafa;

        &:before {
          content: '';
          width: 14px;
          height: 8px;
          position: absolute;
          top: 3px;
          border: 4px solid #3f3f3f;
          border-radius: 2px;
          border-top: none;
          border-right: none;
          background: 0 0;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }

      ~ span {
        color: #fafafa;
      }
    }
  }

  ins {
    margin-right: 4px;
    width: 21px;
    height: 21px;
    border: 3px solid #7e8183;
    border-radius: 4px;
    display: inline-block;
    position: relative;
  }

  span {
    color: #757575;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
  }
}

// Input
input, select {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 0;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"], select {
  padding: 0 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-color: #fff;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  padding: 0 8px;
}

input[type="range"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  width: 160px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 160px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ede1b1;
  margin-top: -8px;
}

input[type="range"]:focus {
  outline: none;

  &::-webkit-slider-runnable-track {
    background: #ccc;
  }
}

// Button
.btn {
  display: inline-block;
  border: 1px solid transparent;
  background: transparent;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;

  &.active {
    border: 1px solid #ede1b1;
  }
}

.btn-group {
  .btn {
    float: left;
    padding: 4px 12px;
    line-height: 1;
  }
}

.credit {
  text-align: center;
  font-size: 0.75em;
  text-transform: none;
  color: #757575;
  margin-top: 4em;
}

// Page
.page-ap {
  .left-side {
    width: 300px;
  }

  .right-side {
    width: 700px;
  }
}

.page-scav {
  .left-side {
    width: 220px;
  }

  .right-side {
    width: 780px;
  }
}

.camp {
  @include clearfix();

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin: 4px;
    border: 1px dashed #757575;
    width: 148px;
    height: 250px;
    border-radius: 6px;
    position: relative;

    .fill {
      background-color: #424242;
      box-shadow: 0 0 0 1px #000;
      border-radius: 4px;
      height: 100%;
    }
  }
}

.btn-addtocamp {
  font-size: 24px;
  padding: 4px 12px;
  width: 100%;
  text-align: center;
  background: #d4d4d4;
  background-image: linear-gradient(to bottom, #d4d4d4, #887f76);
  border: solid #000 1px;
  color: #424242;
}

.summary {
  margin-top: 28px;
  text-align: center;
  font-size: 36px;
  color: $green-500;
  padding: 24px 0;
  border-radius: 4px;
  border: 1px solid #757575;
}

.lbl-lvl {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
  padding-left: 4px;
  width: 24px;
}

.tier-wrapper {
  position: absolute;
  top: 40px;
  right: -4px;
}

.tier {
  width: 9px;
  height: 32px;
  transform: skew(0, 45deg);
  background: $green-500;
  display: block;
  border: 1px solid #000;
}

.close {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  display: block;
  line-height: 1;
  text-align: center;
  border: 1px solid #212121;
  border-radius: 4px;
  background-color: #c62828;
  cursor: pointer;
  text-shadow: none;
}
