@font-face {
  font-family: 'komika_display-regular';
  src: url("font/komika_display-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f-komika_display {
  font-family: 'komika_display-regular';
  text-transform: none; }

h5 {
  margin-top: .4rem;
  margin-bottom: .4rem;
  color: #ede1b1;
  font-weight: normal; }

.text-center {
  text-align: center; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  background-color: #212121;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.sm {
  font-size: 0.75em; }

.clr-amber {
  color: #f5be3f; }

.clr-lightyellow {
  color: #ede1b1; }

input {
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: .4rem;
  border: 0;
  width: 100%;
  padding: .2rem .4rem;
  appearance: none;
  background-color: #fff; }

.btn {
  border: none;
  background-color: #424242;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  min-width: 2rem;
  outline: 0;
  padding: .2rem .4rem;
  text-transform: uppercase; }

.btn-addtocamp {
  width: 100%;
  border-radius: .4rem; }

.btns {
  display: inline-flex; }
  .btns .btn:first-child {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem; }
  .btns .btn:last-child {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem; }

.navbar {
  background-color: #000;
  width: 100%;
  height: 40px;
  position: fixed; }

.row {
  display: flex;
  align-items: center;
  padding: .1rem 0; }
  .row > div {
    padding: .2rem; }

.col {
  display: flex; }
  .col > div {
    padding: .2rem; }

.modal {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 1001;
  visibility: hidden; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1000;
  transition: all .3s;
  visibility: hidden; }

.md-show ~ .modal-backdrop {
  opacity: 1;
  visibility: visible; }

.modal-content {
  background-color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .4rem;
  padding: 1rem; }

.camp {
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .camp:before, .camp:after {
    content: "";
    display: table; }
  .camp:after {
    clear: both; }
  .camp li {
    margin: .2rem;
    border: 1px dashed #757575;
    border-radius: .4rem;
    position: relative;
    flex: 1 1 auto; }
    .camp li > .fill {
      background-color: #424242;
      box-shadow: 0 0 0 1px #000;
      border-radius: 4px;
      height: 100%;
      padding-top: 24px; }
  .camp .icon {
    font-size: 14px; }

.summary {
  margin: .4rem;
  text-align: center;
  font-size: 1.4rem;
  padding: .2rem;
  border-radius: .4rem;
  border: 1px solid #424242; }
