@font-face {
  font-family: 'komika_display-regular';
  src: url("font/komika_display-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.f-komika_display {
  font-family: 'komika_display-regular';
  text-transform: none; }

h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #ede1b1;
  font-weight: normal; }

h4 {
  margin-top: .4rem;
  margin-bottom: .4rem; }

.text-center {
  text-align: center; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  background-color: #212121;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.sm {
  font-size: 0.75em; }

.clr-amber {
  color: #f5be3f; }

.clr-lightyellow {
  color: #ede1b1; }

.btn {
  border: none;
  background-color: #424242;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  outline: 0;
  padding: .4rem;
  text-transform: uppercase; }

.btns {
  display: inline-flex; }
  .btns .btn:first-child {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem; }
  .btns .btn:last-child {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem; }

.navbar {
  background-color: #000;
  width: 100%;
  height: 40px;
  position: fixed; }
