@font-face {
  font-family: 'icon';
  src: url('font/icon.eot?7');
  src: url('font/icon.eot?7#iefix') format('embedded-opentype'),
       url('font/icon.woff2?7') format('woff2'),
       url('font/icon.woff?7') format('woff'),
       url('font/icon.ttf?7') format('truetype'),
       url('font/icon.svg?7#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1;
  margin-left: .1em;
  margin-right: .1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-star:before { content: '\e800'; }
.icon-right-open:before { content: '\e801'; }