<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>YGL Calculator</title>
<link href="<%= htmlWebpackPlugin.files.chunks.app.css %>" rel="stylesheet">
<link href="<%= htmlWebpackPlugin.files.chunks.xp.css %>" rel="stylesheet">
</head>
<body>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-nav">
      <li><a href="xp.html" class="nav-link active"><i class="icon icon-chevron-up"></i>YGL Calculator</a></li>
      <li><a href="ap.html" class="nav-link"><i class="icon icon-sound"></i>AP Calculator</a></li>
    </ul>
  </div>
</nav>
<div class="main-container">
  <div style="flex: 0 1 auto;">
    <div style="display: flex; justify-content: center; margin-bottom: .4rem;">
      <div class="btn-group">
        <div class="btn-toggle">
          <input type="radio" name="scav-type" id="scav-type-ygl" value="ygl">
          <label class="btn" for="scav-type-ygl">You Got Lucky - <span class="clr-amber">100k</span></label>
        </div>
        <div class="btn-toggle">
          <input type="radio" name="scav-type" id="scav-type-bnm" value="bnm">
          <label class="btn" for="scav-type-bnm">Bricks &amp; Mortar - <span class="clr-amber">60k</span></label>
        </div>
        <div class="btn-toggle">
          <input type="checkbox" name="scav-bonus" id="chk-scav-bonus" value="bonus">
          <label class="btn" id="btn-scav-bonus" for="chk-scav-bonus"><span class="clr-amber">+30k</span></label>
        </div>
      </div>
    </div>
    <div style="display: flex; align-items: baseline;">
      <h3 style="flex: 0 1 auto; font-family: komika-display; text-transform: uppercase;">Scavenger Camp</h3>
      <div class="summary">
        Total <span id="total" class="total-point">0</span>
      </div>
    </div>
  </div>
  <ul id="camp" class="camp">
    <li data-idx="0"></li>
    <li data-idx="1"></li>
    <li data-idx="2"></li>
    <li data-idx="3"></li>
    <li data-idx="4"></li>
  </ul>
</div>
<div class="modal modal-add-to-camp" id="modal-addmember">
  <div class="modal-content">
    <span class="close" id="btn-close-md">×</span>
    <h3 class="title">Add Camp Member</h3>
    <div>
      <div class="row">
        <div class="text-right" class="input-type-a" style="width: 3rem;">
          Name
        </div>
        <div>
          <input id="ipt-name" class="input-type-a" type="text" maxlength="12">
        </div>
      </div>
      <div class="row">
        <div class="text-right" style="width: 3rem;">
          Star
        </div>
        <div>
          <div class="btn-group">
            <div class="btn-toggle">
              <input type="radio" name="ipt-star" id="ipt-star-4" value="4">
              <label class="btn" for="ipt-star-4">4</label>
            </div>
            <div class="btn-toggle">
              <input type="radio" name="ipt-star" id="ipt-star-5" value="5">
              <label class="btn" for="ipt-star-5">5</label>
            </div>
            <div class="btn-toggle">
              <input type="radio" name="ipt-star" id="ipt-star-6" value="6">
              <label class="btn" for="ipt-star-6">6</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-right" style="width: 3rem;">
          Tier
        </div>
        <div>
          <div class="btn-group">
            <div class="btn-toggle">
              <input type="radio" name="ipt-tier" id="ipt-tier-1" value="1">
              <label class="btn" for="ipt-tier-1">1</label>
            </div>
            <div class="btn-toggle">
              <input type="radio" name="ipt-tier" id="ipt-tier-2" value="2">
              <label class="btn" for="ipt-tier-2">2</label>
            </div>
            <div class="btn-toggle">
              <input type="radio" name="ipt-tier" id="ipt-tier-3" value="3">
              <label class="btn" for="ipt-tier-3">3</label>
            </div>
            <div class="btn-toggle">
              <input type="radio" name="ipt-tier" id="ipt-tier-4" value="4">
              <label class="btn" for="ipt-tier-4">4</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-right" style="width: 3rem;">
          Level
        </div>
        <div>
          <input id="ipt-lvl" class="input-type-a" type="tel" style="width: 2.8rem;">
        </div>
        <div class="text-right">
          XP
        </div>
        <div>
          <input id="ipt-xp" class="input-type-a" type="tel" style="width: 5.6rem;">
        </div>
      </div>
      <div class="row">
        <button id="btn-addtocamp" class="btn btn-full">Add to camp</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>
<script src="<%= htmlWebpackPlugin.files.chunks.xp.entry %>"></script>
<script>
  xp.ScavengerCamp.init();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48174541-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
